{% extends "layout.html" %}
{% block content %}
	<html>
	<head> 
    <h1>About</h1>
	<p>The final tournament dates are 11 June to 11 July 2021.</p>
	<p>The format will be the same as for UEFA EURO 2016. The top two in each of the six final tournament groups will proceed to the round of 16 along with the four best third-placed finishers. </p>
	<body>
		<img src="https://upload.wikimedia.org/wikipedia/en/9/96/UEFA_Euro_2020_Logo.svg" alt="Simply Easy Learning" width="300" height="300" style="vertical-align:top;margin:1px 800px">
	 </body>
	</body>
	</html>
{% endblock content %}

