{% extends "layout.html" %}
{% block content %}
    <h2>Groups in Euro Cup 2021</h2> 
    <html>
    <body>
    <h5>Group A</h5>
    <ul>
    <li>Turkey</li>
    <li>Italy</li>
    <li>Wales</li>
    <li>Switzerland</li>
    </ul>  
    <h5>Group B</h5>
    <ul>
    <li>Denmark</li>
    <li>Finland</li>
    <li>Belgium</li>
    <li>Russia</li>
    </ul>  
    <img src="https://upload.wikimedia.org/wikipedia/en/9/96/UEFA_Euro_2020_Logo.svg" alt="Simply Easy Learning" width="300" height="300" style="vertical-align:top;margin:1px 800px">
    <h5>Group C</h5>
    <ul>
    <li>Netherlands</li>
    <li>Ukraine</li>
    <li>Austria</li>
    <li>North Macedonia</li>
    </ul>  
    <h5>Group D</h5>
    <ul>
    <li>England</li>
    <li>Croatia</li>
    <li>Scotland</li>
    <li>Czech Republic</li>
    </ul>  
    <h5>Group E</h5>
    <ul>
    <li>Spain</li>
    <li>Sweden</li>
    <li>Poland</li>
    <li>Slovakia</li>
    </ul>  
    <h5>Group F</h5>
    <ul>
    <li>Hungary</li>
    <li>Portugal</li>
    <li>France</li>
    <li>Germany</li>
    </ul> 
    </body>
    </html>
{% endblock content %}